* {
  max-width: 1147px;
  padding: 0;
  margin: 0; }

.container {
  background-color: #24282f;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .container .logo {
    padding-top: 45px; }
    .container .logo img {
      max-width: 1147px; }
  .container .menu ul {
    margin: 0;
    padding: 45px 10px 0;
    list-style: none; }
  .container .menu li {
    color: white;
    display: inline-block;
    margin-left: 10px;
    padding: 0 20px 45px;
    border-bottom: 1px solid transparent; }
    .container .menu li a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      display: inline-block; }
    .container .menu li:hover {
      border-bottom: 1px solid yellow; }

.container_2 {
  background-color: #24282f;
  max-width: 1147px;
  position: relative;
  width: 100%; }
  .container_2 img {
    max-width: 1147px;
    background-color: #24282f;
    width: 100%; }
  .container_2 .fon {
    position: absolute;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  .container_2 .text_in_nav {
    position: absolute;
    top: 90px;
    left: 100px;
    color: white;
    margin-bottom: 108px; }

.h1 {
  margin-top: 220px;
  text-align: center;
  margin-bottom: 30px; }
  .h1 h1 {
    color: #24282f;
    padding: 50px 50px 32px; }

.photo_1 {
  width: 312px;
  height: 370px; }
  .photo_1 .icons {
    padding-top: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between; }
    .photo_1 .icons p {
      color: #b5a263; }
    .photo_1 .icons .fab {
      color: white;
      padding: 10px; }
    .photo_1 .icons .fa-facebook-f {
      padding-left: 15px; }
    .photo_1 .icons a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #dedede;
      border-radius: 50%; }
      .photo_1 .icons a:hover {
        background-color: red; }

.central_content_1 {
  display: flex;
  justify-content: space-around; }

.button {
  background-color: white;
  margin: 45px auto;
  text-align: center;
  width: 160px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30%; }
  .button a {
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
  .button p {
    padding: 18px 40px;
    size: 15px; }

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px; }

.carousel-inner {
  overflow: hidden; }

.carousel-caption {
  height: 85%; }
  .carousel-caption h3 {
    font-size: 56px; }
  .carousel-caption p {
    width: 377px;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    font-size: 23px;
    margin: 44px auto 56px; }
  .carousel-caption a {
    font-size: 23px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 22px 42px; }

.glyphicon-chevron-right {
  text-align: center;
  width: 51px;
  height: 51px;
  background-color: #fefefe;
  border-radius: 50%; }

.glyphicon-chevron-left {
  text-align: center;
  width: 51px;
  height: 51px;
  background-color: #fefefe;
  border-radius: 50%; }

.carousel-indicators {
  display: none; }

.text_and_form_in_footer {
  background-color: #2b2f35;
  display: flex;
  justify-content: space-around; }

.text_in_footer {
  width: 320px;
  margin-bottom: 95px; }
  .text_in_footer h4 {
    margin: 80px 0 30px;
    color: #b5a263; }
  .text_in_footer p {
    text-align: left;
    color: #5f6369; }

.form_in_footer {
  width: 320px; }
  .form_in_footer h4 {
    margin: 80px 0 30px;
    color: #b5a263; }
  .form_in_footer input {
    width: 100%;
    text-align: left;
    padding: 14px;
    margin-bottom: 10px; }
  .form_in_footer button {
    width: 100%;
    background-color: #b5a263;
    text-align: center;
    padding: 14px;
    color: white; }

.social_in_footer {
  display: flex;
  justify-content: space-between;
  background-color: #24282f; }

.text_in-second_footer {
  color: #5f6369;
  margin: 30px; }

.icons_in_footer {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  .icons_in_footer a {
    margin-left: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #24282f;
    border: 1px solid white;
    border-radius: 50%; }
    .icons_in_footer a:hover {
      background-color: #b5a263; }
  .icons_in_footer .fab {
    color: #5f6369;
    padding: 10px; }
    .icons_in_footer .fab:hover {
      color: white; }
  .icons_in_footer .fa-facebook-f {
    padding-left: 15px; }

/*# sourceMappingURL=fapor.css.map */
